*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589F9;
  /* background-image:url('./images/background.jpg');
  background-repeat: no-repeat; */
}


#prompt {
   text-align: center;
   font-size: 30px;
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}

.disabled {
    color: #757575;
}

.stats {
    color: #FFF;
    font-size: 14pt;
}

#player1,
#player2 {
    display: flex;
}

#game {
    position: relative;
    align-content: center;
}

.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  background-position: center;
  cursor: pointer;
}


.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  /* background: #6589F9 no-repeat center center / contain; */
  background: no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  /* background-color: #6589F9; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}



.match .front {
    border: 8px solid rgb(210, 102, 39);
    background-image: none !important;
  }