*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
    height: 100%;
  }

body {
  height: 100%;
  margin: 20px 0;
  font-family: 'New Super Mario Font U', sans-serif;
  background-image:url('./images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#prompt {
   text-align: center;
   font-size: 35pt;
   padding-top: 35px;
   padding-bottom: 10px;
}


.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

button {
    background: #a86013;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 30pt;
    font-family: 'New Super Mario Font U', sans-serif;
}

.disabled {
    color: #757575;
}

.stats {
    color: #FFF;
    font-size: 30pt;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#mylabel1,
#mylabel2 {
    font-size: 30pt;
    padding-right: 20px;
}

#text1,
#text2 {
    font-size: 25pt;
    width: 290px;
    font-family: 'New Super Mario Font U', sans-serif;
}


#name1,
#name2 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#player1,
#player2 {
    display: flex;
}

#game {
    position: relative;
    align-content: center;
}

.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  background-position: center;
  cursor: pointer;
}


.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  /* background: #6589F9 no-repeat center center / contain; */
  background: no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  /* background-color: #6589F9; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}



.match .front {
    border: 8px solid rgb(210, 102, 39);
    background-image: none !important;
  }